<h1>Tickets</h1>
<label>Pas toegevoegde tickets kunnen niet gelijk aangeklikt worden. Pas naar een aantal seconden is het in de back-end verwerkt en kunnen deze ook aangeklikt worden!</label>
<br><br>
<ul class="tickets">
  <li *ngFor="let ticket of tickets">
    <a routerLink="/ticket-detail/{{ticket.id}}">
      <span class="badge">&#9679;</span>{{ticket.title}}, {{ticket.customer.company.name | uppercase }}
    </a>
    <!--
    <button class="delete" title="delete ticket"
      (click)="deleteTicket(ticket)">x</button>-->
  </li>
</ul>
<br><br>

<h4>Ticket toevoegen</h4>
<div>
  <label>Gemeld door:</label><br>
  <select [(ngModel)]="customer" id="customerlist" (change)="onCustomerChange(customer)">
    <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.company.name}}, {{customer.firstName}} {{customer.lastName}}</option>
  </select><br>
  <label>Onderwerp:
    <input #title />
  </label><br>
  <label>Beschrijving:
    <textarea #description ></textarea>
  </label>
  <br><br>
  <button (click)="addTicket(title.value, description.value); title.value=''; description.value='';">Toevoegen</button>
</div>
