@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Application-wide Styles */
h1 {
  color: #000033;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 250%;
  font-weight: bold;
}

h2, h3, h4 {
  color: #000033;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  max-width: 500px;
  margin: auto;
}

body, input[type="text"], button {
  color: white;
  font-family: 'Roboto', Cambria, Georgia;
}

/* everywhere else */
* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
